---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import Services from "../components/Services.astro";
import TextBanner from "../components/TextBanner.astro";
import Timetable from "../components/Timetable.astro";
import Prices from "../components/Prices.astro";
import Blog from "../components/Blog.astro";

import clinicData from "../data/clinicData";
---

<Layout title={clinicData.NAME}>
  <Header clinicData={clinicData} />
  <main>
    <Hero />
    <Services clinicData={clinicData} />
    <Prices clinicData={clinicData} />
    <Timetable />
    <TextBanner clinicData={clinicData} />
    <Blog />
  </main>
  <Footer clinicData={clinicData} />
</Layout>

<style></style>
